* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background_logo {
    width: auto;
    height: 100px;
    background-color: rgb(43, 146, 249);
}

.image-pattern {
    background-image: url('../html-css-booleaner/img/pattern.png');
}

h1 {
    margin-top: 15px;
    margin-left: 10px;
}

.text_grey, .text_blue, .text_data {
    margin-left: 10px;
}

.text_grey {
    color: grey;
}

.text_blue {
    color: rgb(43, 146, 249);
}

.text_data {
    color: grey;
    font-size: 12px;
}

.container {
    width: auto;
    height: 600px;
    /* background-color: red; */
}

.image-1 {
    width: auto;
    height: 650px;
    margin-top: 20px;
    margin-left: 10px;
}

.image-2 {
    width: auto;
    height: 650px;
}